body {
    margin: 0px 0px;
}

html {
    scroll-behavior: smooth;
}

@media all and (max-width: 1024px) {
    .navigation {
        flex-direction: column;
    }
}

.container {
    display: flex;
    font-family: 'Rubik', sans-serif;
    background-color: rgb(201, 201, 202);
    border-bottom: 2px solid black;
}

.main-menu {
    display: flex;
    align-items: center;
    width: 100%;
}

.name-label {
    display: flex;
    font-size: x-large;
    margin-left: 50px;
}

.name-label p {
    margin: 24px 5px 24px 5px;
}

.name-label img {
    margin-top: 20px;
    width: 30px;
    height: 30px;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: 50px;
}

.navigation a {
    text-decoration: none;
    color: black;
    font-size: x-large;
    margin: 0px 10px 0px 10px;
}

.navigation a:hover {
    color: #8a8a8a;
}

.good-name {
    text-align: center;
    margin: 150px 0px 16px 0px;
    font-family: 'Rubik', sans-serif;

}

.goods-list {
    display: flex;
}

.good {
    margin: 100px 0px 100px 0px;
}

.good-img img {
    display: block;
    width: 50%;
    height: 50%;
    margin: auto auto;
}

.good-img-macbook img {
    display: block;
    width: 75%;
    height: 75%;
    margin: auto auto;
}

.good-description {
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

.price {
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

.footer {
    margin-top: 100px;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;

    border-top: 1px solid black;
}

.footer p, a, img {
    margin: 10px 5px 10px 5px;
}

.form-link {
    text-decoration: none;
    color: black;
}

.form-link:hover {
    color: #8a8a8a;
}

.telegram {
    width: 40px;
    height: 48px;
    margin-bottom: 15px;
}

.vk {
    width: 48px;
    height: 48px;
    margin-bottom: 15px;
}