html {
    font-family: 'Rubik', sans-serif;
}

p {
    font-size: x-large;
    display: flex;
    justify-content: center;
}

a {
    display: flex;
    justify-content: center;
    font-size: x-large;
    text-decoration: none;
    color: black;
    margin: 10px 0px 10px 0px;
}

.tic-tac-toe:hover {
    color: lawngreen;
}

.tic-tac-toe:active {
    color: green;
}

.calculator:hover {
    color: orange;
}

.calculator:active {
    color: chocolate;
}